<section>

  <h1> ARTISTS RESULTS</h1>

  {{#each artistsResults}}

    <div class="results-section">

      <img src="{{images.1.url}}" alt="" />

      <div class="artist-card-items">
        <p class="artist-name"> {{name}}</p>
         <a href='/search/albums/{{id}}'>View Albums</a>
      </div>

    </div>

  {{/each}}

</section>


es (11 sloc)  274 Bytes
 


