<div class="index-container">

  <div class="left-block">

    <h1> Connect your <span>Bops</span> to your <span>Bubble!</span></h1>
    <p>Welcome to your bubble! This space is completely yours to find and share your favorite music, artists, and find
      out more about their upcoming concerts! Ready to chill? Give it a go!</p>
    
    <div>
    <a class="big-button" href="/auth/login">Log in</a>
    <a class="big-button" href="/auth/signup">Sign in</a>
    </div>

  </div>

  <div class="right-block" >
    <img class="auths-images" src="/images/ilustration-index.png" alt="" />
    <img class="bubble-image" src="/images/ilustration-bubble.png" alt="" />
  </div>

</div>