

<div id="main-container">

    <div class="titles">
    <h2> <img class="icon" src="/images/union-icon.png" alt="">
       Trending <span>music: </span></h2>
    </div>

  <table>
    <tbody>
  {{#each tracks}}
     <p>{{track.name}}</p>
    <audio controls src="{{track.preview_url}}"></audio>
  {{/each}}
    </tbody>
  </table>
</div>





