body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(112.7deg, #8DCFFF -0.69%, #FFB8E3 100%);
  color: white;
  

}

#main-container {
  margin: 32px;
}



a {
  color: #00b7ff;
}

h1{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
}

h2 {
  font-size: 24px;

}

p {
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}

span {
font-family: 'Fredoka', sans-serif;
font-style: normal;
font-weight: 600;
}

.default-size img {
  object-fit: cover;
  width: 180px;
  height: 180px;
}

.circle-img img {
  border-radius: 50%;
}

.circle-border img {
  border: 4px solid #496477;
}

section {
  margin-bottom: 28px;
}

.titles {
  border-bottom: 1px solid white;
  margin-bottom: 24px;
}


/* BUTTONS */

.big-button  {
padding: 8px 32px;
gap: 10px;
width: 103px;
height: 35px;
left: 20px;
top: 20px;
background: #496477;
border-radius: 16px;
text-decoration: none;
color: white;
}

.small-button {
padding: 4px 24px;
height: 32px;
background: #496477;
border-radius: 16px;
text-decoration: none;
color: white;
}

.big-button:hover, .small-button:hover {
  background: #A5B5C0;
  color: white;
}

button {
  border: none;
}

.auth-button {
width: 386px;
height: 35px;
}

.btn-primary{
  border: none;
}


/* NAV BAR */

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 80px;
  background: rgba(0, 0, 0, 0.2);
}

.text-input {
width: 398px;
height: 34px;
background: #FFFFFF;
border-radius: 10px;
border-color: transparent;
flex: none;
order: 0;
flex-grow: 0;
text-align: right;
padding: 8px;
}

.textarea-edit-profile {
width: 398px;
height: 100px;
background: #FFFFFF;
border-radius: 10px;
border-color: transparent;
padding: 8px;

}

.bar-box-bg {
  background: linear-gradient(112.7deg, #8DCFFF -0.69%, #FFB8E3 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border-radius: 10px;
}

.text-input::placeholder {
  font-size: 12px;
  line-height: 14px;
  background: linear-gradient(112.7deg, #8DCFFF -0.69%, #FFB8E3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  flex: none;
  order: 1;
  flex-grow: 0;
}


.navbar form button {
  background: transparent;
  border: none;
}

#logo {
width: 232px;
height: 32px;
left: 32px;
top: 24px;
margin-right: 320px;
}


/* INDEX  */

.blocks-container {
  display: flex;
  justify-content: center;
  height: 88vh;
}

.auths-images {
width: 80%;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bubble-image {
position: absolute;
width: 208px;
height: 208px;
right: 100px;
bottom: 100px;
}

.left-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 109px;
}

.right-block {
  width: 50%;
  padding-right: 32px;
  position: relative;
  margin-top: 30px;
}

/* LOG IN / SIGN UP */

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.footer-auth-form {
  display: flex;
  justify-content: space-between;
  width: 386px;
}

.footer-auth-form a {
color: white;

}

.auth-input {
  text-align: left;
  width: 386px;
}

.form-section {
  margin-bottom: 24px;
}

.error-message {
  color:rgba(210, 15, 38, 1);
  font-size: 12px;
}


/* PROFILE */

#user-info {
  display: flex;
}

.user-info-left {
  text-align: center;
  margin-right: 24px;
}

.user-info-right {
  margin: auto 0;
}

.profile-cards {
  display: flex;
  gap: 10px;
}


.profile-img {
  margin-bottom: 8px;
  position: relative;
}

.profile-img img {
  background: linear-gradient(112.7deg, #8DCFFF -0.69%, #FFB8E3 100%);
  padding: 5px;
}

#watermark{
  background:url(/images/watermark.png) no-repeat; 
  width: 180px;
  height: 180px;
  position: absolute;
  left: 60.37%;
  right: 5.19%;
  top: 10%;
  bottom: 32.48%;
  z-index: 10;
}

.each-artist {
  text-align: center;
}

.artist-footer {
  margin-top: 18px
}

.playlist-card {
display: flex;
flex-direction: column;
align-items: center;
padding:16px;
width: 230px;
height: 300px;
background: #496477;
border-radius: 15px;
margin-top: -24px;
margin-bottom: 24px;
}

.playlist-card img {
object-fit: cover;
width: 190px;
height: 170px;
border-radius: 10.6587px;
}

.playlist-card-footer {
  text-align: center;
  margin-top: 14px;
}

.playlist-card-footer img {
  width: 25px;
  height: 25px;
}

.playlist-description {
  font-size: 12px;
  line-height: 0px;
}

/* CREATE PLAYLIST MODAL */

.modal {
  background: rgba(237, 128, 255, 0.5);
}

.modal-content {
  box-shadow: 0px 3.21484px 3.21484px rgba(0, 0, 0, 0.25);
border-radius: 16px;
background: #496477;
  text-align: center;
}

.input-style {

background: #A5B5C0;
border-radius: 8px;
border: none;
margin-bottom: 15px;

}

.input-style::placeholder {
  color: white;
}

.title-input {
padding: 10px;
width: 257px;
height: 25px;

}

.textarea-input {
 padding: 10px;
gap: 10px;
width: 257px;
height: 118.04px;

}

/* EDIT PROFILE */

.edit-profile-container {
  text-align: center;
}





.playlist-detail-header {
  display: flex;
}

.playlist-detail-image img {
  width: 200px;
}

