<div class='list-page'>
  {{#each albumsList}}
    <div class='resultd-section'>
      <img src='{{images.1.url}}' alt='{{name}}' />
      <div class='card-info'>
        <p>{{name}}</p>
        <a href='/search/tracks/{{id}}'>View Tracks</a>
      </div>
    </div>
  {{/each}}
</div>