<h2>Create playlist</h2>

<form action="/playlist/create" method="POST">
  <div>
    <label for="name">Name: </label>
    <input type="text" name="name" />
  </div>

  <div>
    <label for="description">Descripción</label>
    <textarea type="description" name="description" placeholder="Add an optional description"></textarea>
  </div>

  <button type="submit">Create playlist</button>

</form>