<h2>Create playlist</h2>

<form action="/playlist/create" method="POST" enctype="multipart/form-data">
<div>
    <label for="playlistImage">Profile picture</label>
    <input type="file" id="playlistImage" name="playlistImage" />
  </div>
  <div>
    <label for="name">Name: </label>
    <input required type="text" name="name" />
  </div>

  <div>
    <label for="description">Descripción</label>
    <textarea type="description" name="description" placeholder="Add an optional description"></textarea>
  </div>

  <button type="submit">Create playlist</button>

</form>

{{#if errorMessage}}
  <p class="error-message">{{errorMessage}}</p>
{{/if}}